<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<resource_extra>
		<object root="1" />
		<object name="ID_NOTEBOOK1" class="wxNotebook" variable="myNotebook" member="yes">
			<handler function="OnMyNotebookPageChanged" entry="EVT_NOTEBOOK_PAGE_CHANGED" />
		</object>
		<object name="ID_SPLITTERWINDOW1" class="wxSplitterWindow" variable="mySplitterWindow" member="yes">
			<handler function="OnMySplitterWindowDClick" entry="EVT_SPLITTER_DCLICK" />
		</object>
		<object name="ID_SCROLLEDWINDOW1" class="wxScrolledWindow" variable="myScrolledWindow" member="yes" />
		<object name="ID_STATICBITMAP1" class="wxStaticBitmap" variable="StaticBitmap1" member="yes" />
		<object name="ID_HTMLWINDOW1" class="wxHtmlWindow" variable="myHtmlWindow" member="yes" />
		<object name="ID_LOADIMAGE_MENUITEM" class="wxMenuItem" variable="loadImageMenuItem" member="no">
			<handler function="OnLoadImageMenuItemSelected" entry="EVT_MENU" />
		</object>
		<object name="ID_LOADPMF_MENUITEM" class="wxMenuItem" variable="loadPMFMenuItem" member="no">
			<handler function="OnLoadPMFMenuItemSelected" entry="EVT_MENU" />
		</object>
		<object name="ID_SAVEPMF_MENUITEM" class="wxMenuItem" variable="savePMFMenuItem" member="yes">
			<handler function="OnSavePMFMenuItemSelected" entry="EVT_MENU" />
		</object>
		<object name="ID_CLOSE_MENUITEM" class="wxMenuItem" variable="closeImageMenuItem" member="no">
			<handler function="OnCloseImageMenuItemSelected" entry="EVT_MENU" />
		</object>
		<object name="ID_QUIT_MENUITEM" class="wxMenuItem" variable="quitMenuItem" member="no">
			<handler function="OnQuit" entry="EVT_MENU" />
		</object>
		<object name="ID_GENERATE_MENUITEM" class="wxMenuItem" variable="generateMenuItem" member="no">
			<handler function="OnGenerateMenuItemSelected" entry="EVT_MENU" />
		</object>
		<object name="ID_REGENERATE_MENUITEM" class="wxMenuItem" variable="regenerateMenuItem" member="no">
			<handler function="OnRegenerateMenuItemSelected" entry="EVT_MENU" />
		</object>
		<object name="ID_ADDPOINT_MENUITEM" class="wxMenuItem" variable="addPointMenuItem" member="no">
			<handler function="OnAddPointMenuItemSelected" entry="EVT_MENU" />
		</object>
		<object name="ID_UPDPOINT_MENUITEM" class="wxMenuItem" variable="updatePointMenuItem" member="no">
			<handler function="OnUpdatePointMenuItemSelected" entry="EVT_MENU" />
		</object>
		<object name="ID_REMPOINT_MENUITEM" class="wxMenuItem" variable="removePointMenuItem" member="no">
			<handler function="OnRemovePointMenuItemSelected" entry="EVT_MENU" />
		</object>
		<object name="ID_ADDSEGMENT_MENUITEM" class="wxMenuItem" variable="addSegmentMenuItem" member="no">
			<handler function="OnAddSegmentMenuItemSelected" entry="EVT_MENU" />
		</object>
		<object name="ID_LOG_MENUITEM" class="wxMenuItem" variable="toggleLogsMenuItem" member="no">
			<handler function="OnViewInfosMenuItemSelected" entry="EVT_MENU" />
		</object>
		<object name="ID_MENUITEM1" class="wxMenuItem" variable="MenuItem1" member="yes">
			<handler function="OnShowProgressMenuItemSelected" entry="EVT_MENU" />
		</object>
		<object name="ID_MENUITEM3" class="wxMenuItem" variable="aboutMenuItem" member="no">
			<handler function="OnAbout" entry="EVT_MENU" />
		</object>
		<object name="ID_STATUSBAR1" class="wxStatusBar" variable="StatusBar1" member="yes" />
	</resource_extra>
</wxsmith>
